# {{ project_name }} - Projeto Terraform para Azure
# Este e o arquivo principal do projeto

# Resource Group principal do projeto
resource "azurerm_resource_group" "main" {
  name     = "rg-{{ project_name }}-main"
  location = var.location

  tags = var.common_tags
}

# Exemplo de recursos que podem ser adicionados:
# - Storage Account
# - Virtual Network
# - Key Vault
# - App Service
# - SQL Database
# etc.

# Remova este comentario e adicione seus recursos especificos aqui