# Local Terraform directories
.terraform/
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Exclude all .tfvars files, which are likely to contain sensitive data
*.tfvars
*.tfvars.json

# Ignore override files as they are usually temporary
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# TFLint files
.tflint.hcl

# Terragrunt cache
.terragrunt-cache/